@import "../inc/mixin";
@import "../inc/variables";
.bg-preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  background: #fff;
  z-index: 99999999;

  .inner-preloader{
    @include center_center_absolute();
    text-align: center;
    top:35%;
    img{width: 75%;margin: 0 auto;display: block;}
    //i.fa-spinner{color:$color_site;margin-top: 20px;}

  }
}

.inner-preloader{
  //hide preloader woo
  .loader:before{display: none!important;}
}


$size: 1em;
$duration: 0.75s;
$border-radius: $size;
$bg-color: $color_site;


.loader{
  display:block;
  width: 5* $size;
  margin: 10% auto;
}

@-webkit-keyframes rotate{
  0%{
    -webkit-transform: translateY(0%);
  }
  30%{
    -webkit-transform: translateY(-$size/4);
  }
  50%{
    -webkit-transform: translateY(0%);
  }
  70%{
    -webkit-transform: translateY($size/4);
  }

}

.loader{
  display:block;

  .inner1, .inner2, .inner3{
    display: inline-block;

    margin: $size*0.125;
    width: $size/2;
    height:$size/2;

    border:1px solid $bg-color;
    border-radius: $border-radius;
    background-color: $bg-color;

    -webkit-transform-origin: 50%;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }

  .inner2{
    -webkit-animation-delay: $duration*0.25;
  }

  .inner3{
    -webkit-animation-delay: $duration*0.5;
  }

}