@import "../inc/variables";
@import "../inc/mixin";

  .sticky-main-menu{display: none;}

@media (min-width: $width_mobile) {
  .sticky-main-menu{
    display: block;
    position: fixed;
    top: -110px;
    left: 0;
    right: 0;
    width:100%;
    background-color: rgba(black, 0.9);
    z-index:9999;
    padding: 10px 0;
    border-bottom: 1px solid $color_site;
    transition: all 1s ease;

    &.open{top:0;}
    .container{
      display:flex;
      justify-content: space-between;
      align-items: center;
    }

    .wrap-info{max-width: 100px}

    a{
      color:white;
      text-decoration: none;
      &:hover{color:$color-site}
    }
    nav {
      a{text-align: center;}
      ul{list-style: none;padding: 0;margin: 0}
      li{display:inline-block;margin-right: 20px;
         &:nth-child(1){margin-right: 0}
      }
      a{
        color:white;
        text-decoration: none;
        &:hover{color:$color-site}
      }
    }
    .s-wrap-logo{
      width: 100px;
    }
  }

}